*.hex
SWD
*.bak
*.o
SWD.bin
*.swds
tool/tool
*.enc
*.bin
*.elf
newtool/tool
*.zip
*.ncb
*.sln
*.suo
*.vcproj.*.user
tool/VisualStudioProject/Debug
tool/VisualStudioProject/Release
tool/hidapi/windows/ddk_build/makefile
tool/tool.static
